{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="canonical" href="https://www.comfy-penguin.com/Interesting-facts/dress-size-calculator" />
<link rel="stylesheet" href="{% static 'css/custom.css' %}" media="all">
<meta name="description" content="If you looking for a tool to help you find online clothes that fits you. Search no more and check out our brand new dress size calculator!">
<meta name="keywords" content="Dress size calculator">
<meta name="author" content="Comfy-penguin.com">
<title>2019 | How to use dress size calculator correctly?</title>
<article>
  <div class="container" style="padding-top: 4rem; max-width: 55rem">
    <div class="heading" style="text-align: center">
      <h1><b>What is dress size calculator and why are so many people using it?</b></h1>
    </div>
    <br>
    <br>
    <p>Shopping for clothes online is quite awkward for many, and you have the feeling that you are buying something that you don't want in reality.</p>
    <p>There is still a problem with the size of the clothes. Because we are different beings with different bodies, it creates a huge problem when shopping online for clothes.</p>
    <p>So there may be clothes that you absolutely love, but they don't fit you when they arrive, and eventually, you will have to return them. That's what we decided to change with our "Dress size calculator". We cannot always avoid the wrong size, but we can minimize this risk as much as possible! And it really works.</p>
    <div class="picture" style="text-align:center">
      <a href="{% url 'filter' %}">
        <button type="button" class="btn btn-lg btn-outline-secondary">Dress size calculator</button>
      </a>
    </div>
    <hr>
    <br>
    <h2>How does it work?</h2>
    <p>Our dress size calculator works by measuring your favorite clothes (currently only jumpers, sweatshirts and hoodies) according to the most widely used parameters, that is, width and length of a product.</p>
    <p>Here I can show you how I manage to measure my sweatshirt with inch measuring tape:</p>
    <br>
    <div class="col">
      <img src="{% static 'SOLID1.jpg' %}" alt="how to measure length hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    </div>
    <div class="col">
      <img src="{% static 'SOLID2.jpg' %}" alt="how to measure length hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    </div>
    <p>So now I know that my blue SOLID sweatshirt has a width of almost <strong>22 inches</strong> and a length of <strong>28 inches.</strong></p>
    <p>After entering these parameters, our dress size calculator will go through the database and collaborating sites and select clothes that match the parameters you entered and provide them to you. You can then view details of each product with a button which will direct you to the e-shop website. You can complete the purchase there.</p>
    <div class="col">
      <img src="{% static 'screen1.png' %}" alt="how to measure length hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    </div>
    <br>
    <hr>
    <h2>Who is this for?</h2>
    <p>What makes our “Dress size calculator” unique? Especially by deriving the right size from users' already used clothes. In other words, each of us has a favorite sweater or a sweatshirt. That's because the sweater or sweatshirt is in the right size and for example cut, fabric or color.</p>
    <p>You know longer need to know your dress size exactly determined by your body measurements. Instead, you need to find the most comfortable dress and then buy the size of that dress. It is suitable for those who do not want to be stressed and constantly measure their body again to find the right size. Instead, they will simply find the clothes they feel best and try to find more new and better clothes that 100% knows to have the same parameters!</p>
    <br>
    <hr>
    <h2>Why use a dress size calculator?</h2>
    <p>It works great if you want to buy a new sweater or sweatshirt for your loved ones, but don't know their size. And of course, you don't want to ask them about their size even if they knew it from their heads and also because it was supposed to be a surprise.</p>
    <p>It's easy, first, you have to observe what kind of clothes the person wears the most. Once you know which to measure it. In the case of a sweater or T-shirt, it is by default the width and length. Then copy the measured parameters to our “Dress size calculator” and find suitable clothes according to your wishes. You will have more than 99% chance that the clothes will fit the person you are giving.</p>
    <br>
    <hr>
    <p style="font-size: 150%"><strong>This method and dress size calculator is working!</strong></p>
    <p>So where to buy hoodies? It's easy, try my size search engine and choose from biggest brands outhere!</p>
    <p>I'm still building and expanding my database for sweatshirts, jumper and hoodies. Also will add new types like shirts, t-shirts, shorts and pants. If you try size search engine, let us know how you ended up so we can adjust our system and database.</p>
    <br>
    <div class="picture" style="text-align:center">
      <a href="{% url 'filter' %}">
        <button type="button" class="btn btn-lg btn-outline-secondary">Try it</button>
      </a>
    </div>
  </div>
</article>
<br>
<br>
<br>
<br>
{% endblock %}
