{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NQVWT8T');</script>
  <!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="fo-verify" content="9cd43a88-8fc9-4bbc-a4b2-b41e2161ae56">
  <meta name="msvalidate.01" content="7D0F9463E815E73F694F564D4FF70DEB" />
  <link rel="icon" href="{% static 'Comfyfav.png' %}" sizes="32x32" type="image/png">
  <link rel="icon" href="{% static 'favicon-57.png' %}" sizes="57x57">
  <link rel="icon" href="{% static 'favicon-76.png' %}" sizes="76x76">
  <link rel="icon" href="{% static 'favicon-96.png' %}" sizes="96x96">
  <link rel="icon" href="{% static 'favicon-120.png' %}" sizes="120x120">
  <link rel="icon" href="{% static 'favicon-128.png' %}" sizes="128x128">
  <link rel="icon" href="{% static 'favicon-144.png' %}" sizes="144x144">
  <link rel="icon" href="{% static 'favicon-228.png' %}" sizes="228x228">
  <link rel="apple-touch-icon" href="{% static 'touch-icon-iphone.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon-120.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'touch-icon-ipad.png'%}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'touch-icon-ipad-retina.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'touch-icon-iphone-retina.png'%}">
  <link rel="icon" sizes="192x192" href="{% static 'android-icon.png'%}">
  <meta name="msapplication-square310x310logo" content="{% static 'microsoft-icon.png'%}">
  <link rel="apple-touch-icon" href="{% static 'favicon-120.png' %}" sizes="120x120">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" media="all">
  <link rel="canonical" href="https://www.comfy-penguin.com/Interesting-facts/where-to-buy-hoodies-online-which-will-fit" />
  <meta name="description" content="Check out how you should buy hoodies online with the correct size, just using our size search engine we have developed">
  <meta name="keywords" content="size chart, sweatshirt, size chart online, size search engine">
  <meta name="author" content="Comfy-penguin.com">
  <meta property="og:url" content="https://www.comfy-penguin.com/Interesting-facts/where-to-buy-hoodies-online-which-will-fit" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Where to buy hoodies online which will fit?" />
  <meta property="og:description" content="How size chart might not work and how correctly buy hoodies online" />
  <meta property="og:image" content="static/blog2pic1.jpg" />
  <title>2019 | Where to buy hoodies online which will fit?</title>

  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" href="{% url 'homepage' %}">
      <img src="{% static 'LogoComfyPenguin.png' %}" width="160" height="45" alt="Logo Comfy-penguin.com">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'profile' %}" style="color: black"><img src="{% static 'man-user.png' %}" style="height:1.5rem" alt="my profile icon"> My profile</a>
        <a hidden class="nav-item nav-link" href="{% url 'profile' %}" style="color: black"><img src="{% static 'wishlist.png' %}" style="height:1.5rem" alt="wishlist icon"> My wishlist</a>
        <a hidden class="nav-item nav-link" href="{% url 'profile' %}" style="color: black"><img src="{% static 'fair-stand.png' %}" style="height:1.5rem" alt="selling icon"> My offers</a>
        <a class="nav-item nav-link" href="{% url 'filter' %}" style="color: black"><img src="{% static 'magnifier.png' %}" style="height:1.5rem" alt="magnifier icon"> Searchpage</a>
        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick="" style="color: black"><img src="{% static 'tshirt-solid.svg' %}" style="height:1.5rem" alt="tshirt icon"> Logout</a>
        <form id='logout' method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'filter' %}" style="color: black"><i class="fa fa-fw fa-search"></i> Size search engine</a>
        <a class="nav-item nav-link" href="{% url 'interesting-facts' %}" style="color: black"><i class="fa fa-fw fa-book"></i> Interesting facts</a>
        <a class="nav-item nav-link" href="{% url 'aboutus' %}" style="color: black"><i class="fa fa-fw fa-child"></i> About</a>
        <a class="nav-item nav-link" href="{% url 'signup' %}" style="color: black"><i class="fa fa-fw fa-user-plus"></i> Sign up</a>
        <a class="nav-item nav-link" href="{% url 'login' %}" style="color: black"><i class="fa fa-fw fa-sign-in"></i> Sign in</a>
        {% endif %}
      </div>
    </div>
  </nav>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQVWT8T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script type="text/javascript">
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    (function(d, m){
      var kommunicateSettings = {"appId":"3941b9c211db04521832421198dd7948c","popupWidget":true,"automaticChatOpenOnNavigation":true};
      var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
      s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
      var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
      window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
    </script>
<article>
  <div class="container" style="padding-top: 4rem; max-width: 55rem">
    <div class="heading" style="text-align: center">
      <h1><b>Where to buy hoodies online</b></h1>
      <h2>And how should I pick the right size?</h2>
    </div>
    <br>
    <br>
    <p>The hooded sweatshirt also called “hoodie” is a very popular part of everyone’s wardrobe and the trend of wearing hoodies is unstoppable even in 2019. That is why we have an endless choices of different colors, sizes, and shapes of hoodies. The hoodie is a typical streetwear fashion, mostly because it can be worn on every occasion.</p>
    <p>No matter if you are home with hangover, jogging in park or going out. At least this is from my observation!</p>
    <hr>
    <div class="row" style="text-align: center">
      <div class="col">
        <a target="_blank"  href="https://www.amazon.de/gp/product/B00WWIT2AW/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B00WWIT2AW&linkCode=as2&tag=caebixus1-21&linkId=d6c2ec02a04fa7f272c79f28e458f684"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=DE&ASIN=B00WWIT2AW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=caebixus1-21" ></a><img src="//ir-de.amazon-adsystem.com/e/ir?t=caebixus1-21&l=am2&o=3&a=B00WWIT2AW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
      <div class="col">
        <a target="_blank"  href="https://www.amazon.de/gp/product/B07BMJ2H17/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B07BMJ2H17&linkCode=as2&tag=caebixus1-21&linkId=91b1f0e18853508ad626f05548292201"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=DE&ASIN=B07BMJ2H17&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=caebixus1-21" ></a><img src="//ir-de.amazon-adsystem.com/e/ir?t=caebixus1-21&l=am2&o=3&a=B07BMJ2H17" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col">
        <p>Attack On Titan Womens Zipper Hoodie</p>
      </div>
      <div class="col">
        <p>Solid BennHood Men's Hooded Pullover / Hoodie</p>
      </div>
    </div>
    <hr>
    <br>
    <p>In this article, I want to talk about the hoodies size chart and where to buy hoodies. Because of thousands of hoodies and different brands, there are different sizes and measurements.</p>
    <p>You can never rely on your chosen size, which works for one type of sweatshirt that you wear happily for years. For example, I had this intuition that all of my sweatshirts are the size of L, but with these thoughts, you will fail in online fashion shopping, as did I.</p>
    <br>
    <p style="font-size: 150%"><strong>So what should we do?</strong></p>
    <p>First of all, you need to get parameters of your best, most comfortable hoodie you have.</p>
    <p>If you want to buy hoodie for someone, you should find out which hoodie that person wears the most. Then you need to get basic parameters like width and length of a hoodie.</p>
    <br>
    <p>Pictures below show my best hoodie that I love even today and how I measure it with precision. Be careful, the measuring tape should be taught.</p>
    <div class="row">
      <div class="col">
        <img src="{% static 'Length1.jpg' %}" alt="how to measure length hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'Length2.jpg' %}" alt="how to measure length hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <br>
    <p>With my measuring tape, I know that my hoodies length is <strong>72cm</strong> and width is around <strong>53cm.</strong> Yes, I'm from Europe, Czech Republic and that is why I use centimeters instead of inches.</p>
    <br>
    <div class="row">
      <div class="col">
        <img src="{% static 'Width1.jpg' %}" alt="how to measure width hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'Width2.jpg' %}" alt="how to measure width hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <p style="font-size: 150%"><strong>Congratulations, the first part is finished. Now let's see what is next</strong></p>
    <p>Now you know exactly, what size is your most comfortable hoodie without relying on size charts. But what is next?</p>
    <p>For this step, I introduced the size search engine for fashion. It is just an easy online tool for everyone to use. And input is based on parameters which you already know - width and length of your hoodie.</p>
    <p>So, if I copy my parameters to size search engine it shows that there are more than <strong>100+</strong> sweatshirts, jumpers and hoodies for men with these parameters.</p>
    <img src="{% static 'blog2pic2.jpg' %}" alt="parameters in size search engine" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    <p>Although it shows all products with +2cm from my measuring parameters, it is a good sign, because I can choose from dozens and I know it will fit me perfectly!</p>
    <p>Now if you could look closer on sizes with different brands you can see that I prove my point.</p>
    <img src="{% static 'blog2pic3.jpg' %}" alt="parameters in size search engine" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    <p><strong>Different brands have indeed different sizes</strong> and we, as a customers, are not able to see it at first look easily.</p>
    <p>This finding really pissed me off and also motivated me to continue with comfy-penguin.com with its size search engine. Now I know that size charts are not a solution for buying hoodies and other fashion online.</p>
    <br>
    <p>What I want to do is to create an online tool help to search and to find clothes with exactly the same parameters as your best, most comfortable clothes you wear daily. It will take some time, but one day there will be thousands of products in each category, which will make online shopping fast and stressless.</p>
    <p>The goal is to use this data to find a new hoodies or jumpers without fearing that you end up with a completely wrong size.</p>
    <br>
    <p style="font-size: 150%"><strong>To proof my statements I bought and measure offered sweatshirt</strong></p>
    <p>I decided to go with this sweatshirt instead of a hoodie, kinda like it more. Where did I bougth this hoodie? Surprisingly on Amazon. It is slightly bigger (that's what I want) and it says that I should choose size M.</p>
    <div class="picture" style="text-align: center">
      <img src="{% static 'blog2pic4.png' %}" alt="parameters in size search engine" style="max-width:15rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    </div>
    <p>After a few days, the sweatshirt arrived to my doorstep. And it does fit. Below are parameters that I measured.</p>
    <div class="row">
      <div class="col">
        <img src="{% static 'xheight1.jpg' %}" alt="how to measure width hoodies" style="max-width:80rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'xheight2.jpg' %}" alt="how to measure width hoodies detail" style="max-width:80rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <p>So length is <strong>73 centimeters</strong> and sellers wrote on page that it should be 74 centimeters on this size M. I think after a few days with my sweatshirt on the length should be where it originaly should be. Now let's take a look on width / chest.</p>
    <div class="row">
      <div class="col">
        <img src="{% static 'xwidth1.jpg' %}" alt="how to measure width hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'xwidth2.jpg' %}" alt="how to measure width hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <p>Width is actually same as sellers size chart. The sweatshirt has <strong>55 centimeters.</strong></p>
    <p style="font-size: 150%"><strong>The method and size search engine is working!</strong></p>
    <p>So where to buy hoodies? It's easy, try my size search engine and choose from biggest brands outhere!</p>
    <p>I'm still building and expanding my database for sweatshirts, jumper and hoodies. Also will add new types like shirts, t-shirts, shorts and pants. If you try size search engine, let us know how you ended up so we can adjust our system and database.</p>
    <br>
    <div class="picture" style="text-align:center">
      <a href="{% url 'filter' %}">
        <button type="button" class="btn btn-lg btn-outline-secondary">Size search engine</button>
      </a>
    </div>
  </div>
</article>
<br>
<br>
<br>
<br>
</body>
<br>
<div class="footer bg-dark" id="footer" style="padding-top: 2rem">
  <div class="container text-light">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; 2019 Comfy-penguin.com</span>
      </div>
      <div class="col-md-4">
        <span class="copyright">Social networks</span>
        <ul class="list-inline social-buttons">
          <li hidden class="list-inline-item">
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item" style="padding-top: 4px">
            <a href="https://www.facebook.com/Comfy-penguin-2176026249317885/">
              <img src="{% static 'facebook-logo-white.png' %}" width="30" height="30" alt="facebook icon">
            </a>
          </li>
          <li hidden class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <a href="{% url 'how_to_measure' %}" type="btn btn-lg" style="color: white">
          How to measure?
        </a>
      </div>
      <div hidden class="col-md-3">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Ochrana osobních údajů</a>
          </li>
          <li hidden class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'comfy/js/myjavascript.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
