{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="canonical" href="https://www.comfy-penguin.com/Interesting-facts/Why-size-chart-doesnt-work" />
<title>2019 | Comfy-Blog | Why size chart doesn't work? </title>
<div class="container" style="padding-top: 4rem; max-width: 55rem">
  <div class="heading" style="text-align: center">
    <h1><b>Why size chart doesn't work?</b></h1>
  </div>
  <br>
  <br>
  <p>
    It was a dark day on December 3rd. Xmas was just around the corner and I've just got home from work. My girlfriend came to welcome me but she stopped in the middle just staring at me.
  </p>
  <br>
  <p>
    I was like: "Am I naked or something?" But she just told me, that I really need to buy a new sweatshirt, because I could wear something better.
  </p>
  <br>
  <p>
    This scared me because I'm not a fashionist and I don't care about clothes that much. But if this is what my girlfriend recommends, I will say "Hodor", turn on my laptop with Amazon.de and head to apparel.
  </p>
  <br>
  <p>
    I found nice one in like 10 minutes of searching and I checked the size chart if they have my size - L. So I ordered this in a few clicks and waited.
  </p>
  <br>
  <div class="picture" style="text-align:center">
    <img src="{% static 'blog1pic4.jpeg' %}" alt="" style="max-width:50rem; width: 100%; padding-bottom:4rem">
  </div>
  <br>
  <br>
  <h2><b>What happened when it arrived?</b></h2>
  <br>
  <p>
    After a few days, my package arrived and after unpacking I wasn't really happy. The sweatshirt was great in chest/width size, but not in height/length. Thanks, size chart, great work! So I had to return it and go through the process again.
  </p>
  <br>
  <p>
    Do we really need to double check size chart every time, just because every shop or brand have different sizes for S, M, L, XL, XXL?
  </p>
  <br>
  <p>
    Also, I don't really want to go to the shopping center and spend hours by choosing the right sweater, because the online size chart is useless. Is it really that hard to buy a new sweatshirt, which is basically just a copy size of your favorite?
  </p>
  <br>
  <p>
    And then I did the face Leonardo Di Caprio did in Inception movie and start to think about this with a couple of beers.
  </p>
  <br>
  <div class="picture" style="text-align:center">
    <img src="{% static 'blog1pic2.jpg' %}" alt="" style="max-width:50rem; width: 100%; padding-bottom:4rem">
  </div>
  <br>
  <br>
  <h2><b>Let's think about the world without size chart</b></h2>
  <br>
  <p>
    I noticed that some of the shops are including width and height in their size chart. It is a different measurement style, but I gave it a try!
  </p>
  <br>
  <p>
    Basically, I took my favorite sweatshirt, which I wear 70% of my time (yeah that's the one, my girlfriend decided to hate) and with my measuring tape found that chest width is 50 centimeters and height length should be around 70 centimeters.
  </p>
  <br>
  <p>
    Now I had to go through several e-shops that run the size chart in the way described above and find my size-like sweatshirt, right?
  </p>
  <br>
  <p>
    Well, it is time-consuming because although I know the parameters of my sweatshirt, I don't know that many e-shops with this different measurements and size chart.
  </p>
  <br>
  <p>
    And I have to double check for each product if the size chart matches my parameters because another shop means completely different width and height measurement. Oh god, can you see the struggle?
  </p>
  <br>
  <br>
  <br>
  <h2><b>BUT...</b></h2>
  <br>
  <p>
    What if I just select the width and length of the sweatshirt to some sort of a form, and it will automatically find me e-shops available to me based on my parameters and showed me a list of sweatshirts that matches exactly the width and length of my favorite sweatshirt?
  </p>
  <br>
  <p>
    Mind blowing right?
  </p>
  <div class="picture" style="text-align:center">
    <img src="{% static 'blog1pic3.jpg' %}" alt="" style="max-width:50rem; width: 100%; padding-bottom:4rem">
  </div>
  <p>
    With this new approach, I wouldn't deal with the size table and I could choose clothes directly, according to what I like by the photos that catch my eye.
  </p>
  <br>
  <p>
    Since I didn't find such portal, I decided to create it myself. After a few nights of programming and after a few weeks of building the database, I launched <a href="https://www.comfy-penguin.com">Comfy-penguin.com</a>.
  </p>
  <br>
  <p>
    Comfy because I'm trying to get comfortable clothes and penguin because my girlfriend likes them.
  </p>
  <br>
  <p>
    So far, Comfy-penguin has only products from the largest portals in the world, such as Amazon apparels.
  </p>
  <br>
  <p>
    This is mainly because Amazon is stable in shipment delivery and vendors have richly described products including size charts and product photos.
  </p>
  <br>
  <p>
    Anyway, the goal I had at the beginning - that is, to enter the parameters of my favorite sweatshirt into the form and to find the size clones differing in colors, fabric, and brand, was completed.
  </p>
  <br>
  <div class="picture" style="text-align:center">
    <a href="{% url 'homepage' %}">
      <img src="{% static 'LogoComfyPenguin.png' %}" alt="" style="max-width:25rem; width: 100%; padding-bottom:4rem">
    </a>
  </div>
  <br>
  <h2><b>How many sweatshirts I found for my parameters?</b></h2>
  <br>
  <p>
    So for my 50-centimeters width and 70-centimeters length comfy penguin found more than 70 products and the database still uploads new and new products.
  </p>
  <p>
    The default search limit, for now, is to look for products within +2 centimeters from your written value.
  </p>
  <p>
    It will take a while, but there will be a very varied offer of clothes on <a href="https://www.comfy-penguin.com">Comfy-penguin</a> with no need to stress from the different size chart.
  </p>
  <p>
    Now it is your turn to try it - get parameters of your or anyone's favorite sweatshirt, jumper or hoodie and copy it to our <a href="https://www.comfy-penguin.com/search/filter">form</a>. Comfy-penguin should find the best match.
  </p>
  <br>
  <div class="picture" style="text-align:center">
    <a href="{% url 'homepage' %}">
      <button type="button" class="btn btn-lg btn-outline-secondary">Start searching</button>
    </a>
  </div>
  <div class="photo-footer" style="padding-top: 4rem">
    <p><font size="1">Photo by 𝚂𝚒𝚘𝚛𝚊 𝙿𝚑𝚘𝚝𝚘𝚐𝚛𝚊𝚙𝚑𝚢 on Unsplash</font></p>
  </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
