{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="canonical" href="https://www.comfy-penguin.com/Interesting-facts/Why-size-chart-doesnt-work" />
<link rel="stylesheet" href="{% static 'css/custom.css' %}" media="all">
<title>2019 | Hoodie size chart compare to size search engine?</title>
<article>
  <div class="container" style="padding-top: 4rem; max-width: 55rem">
    <div class="heading" style="text-align: center">
      <h1><b>Hoodie size chart compare to size search engine?</b></h1>
    </div>
    <br>
    <br>
    <p>The hooded sweatshirt also called “hoodie” is a very popular part of everyone’s wardrobe and the trend of wearing hoodies is unstoppable even in 2019, that is why we have a choice of endless sheets of different tips, colors, and shapes for these hoodies. The hoodie is a typical streetwear fashion, and when we look at when it is worn by men, it will cut us off for almost every occasion.</p>
    <p>Whether it's a hangover at home, a park run or a party with friends. Here everywhere hoodie holds us.</p>
    <hr>
    <div class="row" style="text-align: center">
      <div class="col">
        <a target="_blank"  href="https://www.amazon.de/gp/product/B00WWIT2AW/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B00WWIT2AW&linkCode=as2&tag=caebixus1-21&linkId=d6c2ec02a04fa7f272c79f28e458f684"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=DE&ASIN=B00WWIT2AW&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=caebixus1-21" ></a><img src="//ir-de.amazon-adsystem.com/e/ir?t=caebixus1-21&l=am2&o=3&a=B00WWIT2AW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
      <div class="col">
        <a target="_blank"  href="https://www.amazon.de/gp/product/B07BMJ2H17/ref=as_li_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B07BMJ2H17&linkCode=as2&tag=caebixus1-21&linkId=91b1f0e18853508ad626f05548292201"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=DE&ASIN=B07BMJ2H17&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=caebixus1-21" ></a><img src="//ir-de.amazon-adsystem.com/e/ir?t=caebixus1-21&l=am2&o=3&a=B07BMJ2H17" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col">
        <p>Attack On Titan Womens Zipper Hoodie</p>
      </div>
      <div class="col">
        <p>Solid BennHood Men's Hooded Pullover / Hoodie</p>
      </div>
    </div>
    <hr>
    <br>
    <p>In this article, I want to talk about the hoodie size chart. Because of thousands of hoodies and different brand, there are different sizes and measurements.</p>
    <p>You can never rely on your chosen size, which works for one sweatshirt that you wear happily for years, such as the size of S, you will fall in another shop or manufacturer.</p>
    <br>
    <p style="font-size: 150%"><strong>So what should we do?</strong></p>
    <p>First of all, you need to get parameters of your best, most comfortable hoodie you have.</p>
    <p>If you want to buy hoodie for someone, you should observe which hoodie that person wear the most. Then you need to get basic parameters like width and length of a hoodie.</p>
    <br>
    <p>Pictures below show my best hoodie that I love even today and how to measure it with precision. Be careful, the measuring tape should be taught.</p>
    <div class="row">
      <div class="col">
        <img src="{% static 'Length1.jpg' %}" alt="how to measure length hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'Length2.jpg' %}" alt="how to measure length hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <br>
    <p>With my measuring tape, I know that length is <strong>72cm</strong> and width is around <strong>53cm.</strong></p>
    <br>
    <div class="row">
      <div class="col">
        <img src="{% static 'Width1.jpg' %}" alt="how to measure width hoodies" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
      <div class="col">
        <img src="{% static 'Width2.jpg' %}" alt="how to measure width hoodies detail" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
      </div>
    </div>
    <p>If I copy these parameters to my size search engine it shows that there are more than <strong>100+</strong> Tops for men with these parameters.</p>
    <img src="{% static 'blog2pic2.jpg' %}" alt="parameters in size search engine" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    <p>Although it shows all products with +2cm from my measuring parameters, it is a good sign.</p>
    <p>Now if you could look closer on sizes with different brands you can see that I prove my point.</p>
    <img src="{% static 'blog2pic3.jpg' %}" alt="parameters in size search engine" style="max-width:50rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    <p><strong>Different brands have indeed different sizes</strong> and we, as a customer, are not able to see it at first look easily.</p>
    <p>This finding really pissed me off and also motivated me to continue with comfy-penguin.com with its size search engine.</p>
    <br>
    <p>What I want to do is to create an online tool to help search and find clothes with exactly the same parameters as your best, most comfortable clothes you wear daily.</p>
    <p>With this data, you could find a new one without fearing that you end up with a completely wrong size.</p>
    <br>
    <p>I decided to go with this sweatshirt instead of a hoodie, kinda like it more.</p>
    <div class="picture" style="text-align: center">
      <img src="{% static 'blog2pic4.png' %}" alt="parameters in size search engine" style="max-width:15rem; width: 100%; padding-top:4rem; padding-bottom: 4rem">
    </div>
    <p>Let’s see how it end up with parameters for this sweatshirt from Amazon.</p>
    <div class="picture" style="text-align:center">
      <a href="{% url 'filter' %}">
        <button type="button" class="btn btn-lg btn-outline-secondary">Size search engine</button>
      </a>
    </div>
  </div>
</article>
<br>
<br>
<br>
<br>
{% endblock %}
