.btn {
  background-color: #C3073F; /* Green */
  border: none;
  color: white;
  text-align: center;
}

#brandlogo {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '﹥';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '﹤';
  font-size: 55px;
  color: red;
}

p {
  color: #1a0000;
  font-size: 20px;
  font-family: 'Didact Gothic';
}

#paragraphSearchProduct {
  line-height: 12px;   /* within paragraph */
  margin-bottom: 12px; /* between paragraphs */
}

h1 {
  font-family: 'Didact Gothic';
}

h2 {
  font-family: 'Didact Gothic';
}

a {
  color: #c64119;
  text-decoration: none;
}

a:hover {
  color: #993213;
}
