p {
  color: #1a0000;
  font-size: 20px;
  font-family: 'Comic Sans';
}

h1 {
  font-family: 'Comic Sans';
}

h2 {
  font-family: 'Comic Sans';
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #c64119;
  text-decoration: none;
}

a:not(.BlogImage):not(.dropdown-item):not(.navbar-brand):hover {
  transform: scale(1.1);
}

.btn {
  background-color: #C3073F; /* Green */
  border: none;
  color: white;
  text-align: center;
}

.btn:hover {
  background-color: #C3073F;
  color: white;
}

.paragraphSearchProductText {
  color: purple;
}

.paragraphMyParameters {
  color: #C3073F;
}

.cardClothes {
  height: 10rem;
}

.imgHover {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.imgHover:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
