{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}

{% if error %}
<div class="container" style="text-align: center">
  <p style="color: red">{{error}}</p>
</div>
{% endif %}
<hr>
<br>
<div class="container" style="text-align: center">
  <h1>Your saved item was deleted</h1>
  <p align="center">
    <a href="{% url 'profile' %}" role="button" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Back to profile</a>
  </p>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
