{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}

{% if error %}
<div class="container" style="text-align: center">
  <p style="color: red">{{error}}</p>
</div>
{% endif %}
<hr>
<div class="container pt-3" style="text-align: center">
  <h1>Your saved clothes</h1>
  <br>
  {% if my_total > 0 %}
  <div class="row">
    {% for product in products.all %}
    <div class="col-lg-4">
      <h4>{{ product.item_title }}</h4>
      <img class="bd-placeholder-img" src="{{ product.image_main.url }}" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
      <hr>
      <p>Item width: <strong>{{ product.item_width }}</strong> inches</p>
      <p>Item length: <strong>{{ product.item_length }}</strong> inches</p>
      <hr>
      <p>Selected gender: {{ product.item_gender }}</p>
      <p align="center">
        <a href="{% url 'My-comfy-clothes' product.id %}" role="button" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Detail item</a>
      </p>
      <p align="center">
        <a href="{% url 'Delete-comfy-clothes' product.id %}" role="button" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Delete item</a>
      </p>
      <hr>
      {% if product.item_gender == "Male" %}
      <form action="{% url 'search_mens_tops' %}">
        <div class="row">
          <input hidden type="number" name="width" class="form-control" placeholder="Width/Chest (in inches)" value="{{ product.item_width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" step="0.5">
          <input hidden type="number" name="height" class="form-control" placeholder="Length (in inches)" value="{{ product.item_length }}" style="align-items:center; text-align:center; width:15rem; margin:auto" step="0.5">
          <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto; background-color: black">Search with these parameters</button>
        </div>
      </form>
      {% else %}
      <form action="{% url 'search_womens_tops' %}">
        <div class="row">
          <input hidden type="number" name="width" class="form-control" placeholder="Width/Chest (in inches)" value="{{ product.item_width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" step="0.5">
          <input hidden type="number" name="height" class="form-control" placeholder="Length (in inches)" value="{{ product.item_length }}" style="align-items:center; text-align:center; width:15rem; margin:auto" step="0.5">
          <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto; background-color: black">Search with these parameters</button>
        </div>
      </form>
      {% endif %}
    </div><!-- /.col-lg-4 -->
    {% endfor %}
  </div><!-- /.row -->
  <hr>
  <p align="center">
    <a href="{% url 'Create-comfy-clothes' %}">
      <img src="{% static 'plus-sign.png' %}" style="height:7rem" alt="Add new favorite cloth parameters">
      <p>Add new clothes!</p>
    </a>
  </p>
  {% else %}
  <p>Unfortunately, you haven't saved any clothes yet!</p>
  <p>Get your most comfy clothes and measure width and length, then save it and easily use it to find new fashion everytime you want!</p>
  <p align="center">
    <a href="{% url 'Create-comfy-clothes' %}" role="button" class="btn btn-dark" style="margin-top: 1rem">Save new clothes</a>
  </p>
  {% endif %}
</div>
<hr width="75%">
<div class="container pt-3" style="text-align: center">
  <h1>Profile Detail</h1>
  <br>
  <p>Email Address: {{ user.username }}</p>
  <p hidden align="center">
    <a href="{% url 'Edit-profile' %}" role="button" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Edit</a>
  </p>
  <p align="center">
    <a href="{% url 'Change-password' %}" role="button" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Change password</a>
  </p>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
