{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load filter_pagination_tag %}
{% block content %}
<link rel="canonical" href="https://www.comfy-penguin.com/search/filter-for-him" />
<title>2019 | Find fashion | Men's tops filter</title>
<!------ content ---------->
<div class="container" style="padding-top: 4rem">
  <h1 class="card-text" style="text-align: center">Men's Tops</h1>
  <h2 class="card-text" style="text-align: center">Find similar clothes by size</h2>
  <hr width="70%">
  <br>
  <form action="{% url 'search_mens_tops' %}">
    <h5 class="card-text" style="text-align: center">Copy parameters on which you want to find clothes</h5>
    <div class="row align-items-center justify-content-md-center" style="padding-top: 1rem">
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="width" class="form-control" placeholder="Width/Chest (in cm)" value="{{ values.width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="height" class="form-control" placeholder="Height (in cm)" value="{{ values.height }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
    </div>
    <hr width="70%">
    <br>
    <div class="col-md-auto">
      <div class="form-group" style="align-items:center; text-align:center; width:15rem; margin:auto">
        <select name="Type" class="form-control">
          <option value="" selected>Select type</option>{% for key, value in CATEGORY_CHOICES.items %}
          <option value="{{ key }}" {% if key == values.Type %}selected{% endif %}>{{ value }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <br>
    <div class="col-md-auto">
      <div class="form-group">
        <select name="Continent" class="form-control" style="align-items:center; text-align:center; width:15rem; margin:auto">
          <option value="" selected>Select continent</option>{% for key, value in CONTINENT_CHOICES.items %}
          <option value="{{ key }}"{% if key == values.Continent %}selected{% endif %}>{{ value }}</option>{% endfor %}
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Search</button>
    </div>
  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
