{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load filter_pagination_tag %}
{% block content %}
<title>2019 | Find fashion with your size of your favourite clothes</title>
<!------ content ---------->
<div class="container">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <br>
      <h2>Women's Tops</h2>
      <p>Find new women's T-shirts or sweatshirts similar to size of your favourite ones!</p>
      <a href="{% url 'filter_womens_tops' %}"><img src="{% static 'Womens-top.jpg'%}" alt="..." class="img-thumbnail" style="border-radius: 10px;"></a>
      <div class="button" style="padding-top:1rem">
        <a class="btn btn-dark" href="{% url 'filter_womens_tops' %}" style="align-items:center; text-align:center; width:15rem; margin:auto;">Search in women's tops</a>
      </div>
    </div>
    <div class="col-md-6" style="text-align: center">
      <br>
      <h2>Men's Tops</h2>
      <p>Find new men's Shirts or hoodies similar to size of your favourite ones!</p>
      <a href="{% url 'filter_mens_tops' %}"><img src="{% static 'Mens-top.jpg'%}" alt="..." class="img-thumbnail" style="border-radius: 10px;"></a>
      <div class="button" style="padding-top:1rem">
        <a class="btn btn-dark" href="{% url 'filter_mens_tops' %}" style="align-items:center; text-align:center; width:15rem; margin:auto;">Search in men's tops</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
