{% extends 'base.html' %}
{% load bootstrap %}
{% load filter_pagination_tag %}
{% block content %}
<link rel="canonical" href="https://www.comfy-penguin.com/search" />
<title>2019 | Find fashion</title>
<!------ content ---------->
<div class="accordion" id="accordionExample" style="padding-bottom:2rem">
  <div class="card bg-dark">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0 text-center">
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="align-items:center; text-align:center; width:15rem; margin:auto">
          Main Filter
        </button>
      </h5>
    </div>
    <form action="{% url 'searchpage' %}">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="container-fluid bg-white" style="height: fluid">
          <div class="row align-items-center justify-content-md-center" style="padding-top: 1rem">
            <div class="col-md-auto">
              <div class="form-group">
                <input type="number" name="width" class="form-control" placeholder="Width/Chest (in cm)" value="{{ values.width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="form-group">
                <input type="number" name="height" class="form-control" placeholder="Height (in cm)" value="{{ values.height }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <div class="form-group" style="align-items:center; text-align:center; width:15rem; margin:auto">
                <select name="Type" class="form-control">
                  <option value="" selected>Select type</option>
                  {% for key, value in CATEGORY_CHOICES.items %}
                  <option value="{{ key }}" {% if key == values.Type %}
                  selected
                  {% endif %}
                  >{{ value }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-auto">
            <div class="form-group">
              <select name="Gender" class="form-control" style="align-items:center; text-align:center; width:15rem; margin:auto">
                <option value="" selected>Select gender</option>
                {% for key, value in GENDER_CHOICES.items %}
                <option value="{{ key }}"{% if key == values.Gender %}
                selected
                {% endif %}
                >{{ value }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-group">
            <select name="Continent" class="form-control" style="align-items:center; text-align:center; width:15rem; margin:auto">
              <option value="" selected>Select continent</option>
              {% for key, value in CONTINENT_CHOICES.items %}
              <option value="{{ key }}"{% if key == values.Continent %}
              selected
              {% endif %}
              >{{ value }}
            </option>
            {% endfor %}
          </select>
        </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Search</button>
      </div>
      <br>
    </div>
  </div>
</form>
</div>
</div>
</body>
<hr>
<br>
<div class="container" style="text-align: center">
  <h4 class="card-text" style="text-align: center">Found products with your parameters</h4>
  <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_searched }}</strong></button>
</div>
<br>
<br>
<div class="container" id="listing">
  <div class="row">
    {% if paginationing %}
    {% for Product_Clothes in paginationing %}
    <div class="col-md-3" style="min-width: 17rem; border-radius: 10px;">
      <div class="card mb-5" style="align-items: center; border-radius: 10px;">

        <div id="carouselExampleInterval{{ Product_Clothes.id }}" class="carousel slide" data-interval="false" data-ride="carousel" style="width: 100%; max-width:18rem; border-radius: 10px;">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="false">
              <img src="{{ Product_Clothes.image_main.url }}" class="d-block w-100" alt="Main product image" style="height: 20rem; max-width:18rem; border-radius: 10px;">
            </div>
            {% if Product_Clothes.image_secondary %}
            <div class="carousel-item" data-interval="False">
              <img src="{{ Product_Clothes.image_secondary.url }}" class="d-block w-100" alt="Secondary product image" style="height:20rem; max-width:18rem; border-radius: 10px;">
            </div>
            {% else %}
            {{pass}}
            {% endif %}
            {% if Product_Clothes.image_third %}
            <div class="carousel-item" data-interval="False">
              <img src="{{ Product_Clothes.image_third.url }}" class="d-block w-100" alt="Third product image" style="height:20rem; max-width:18rem; border-radius: 10px;">
            </div>
            {% else %}
            {{pass}}
            {% endif %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval{{ Product_Clothes.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval{{ Product_Clothes.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div id="carouselExampleInterval2{{ Product_Clothes.id }}" class="carousel slide" data-interval="false" data-ride="carousel" style="width: 100%">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="false">
              <div class="card-header bg-dark" style="height: 5rem; width: 100%;">
                <p id="paragraphSearchProduct" style="font-size:90%;" class="card-text text-center text-light">{{ Product_Clothes.item_title }}</p>
                <p id="paragraphSearchProduct" style="font-size:150%; padding-top:8px" class="text-center text-light">{{ Product_Clothes.item_brand }}</p>
              </div>
            </div>
            <div class="carousel-item" data-interval="False">
              <div class="card-header bg-dark" style="height: 5rem; width: 100%;">
                <p id="paragraphSearchProduct" style="font-size:90%;" class="card-text text-center text-light">{{ Product_Clothes.item_material_composition }}</p>
                <p id="paragraphSearchProduct" style="font-size:150%; padding-top:8px" class="text-center text-light">{{ Product_Clothes.item_seller }}</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleInterval2{{ Product_Clothes.id }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval2{{ Product_Clothes.id }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="card-body">
          <p id="paragraphSearchProduct">Product width = {{ Product_Clothes.item_width }} cm</p>
          <div class="text-right">
            <p id="paragraphMyParameters" style="font-size:90%;">My width = {{ values.width }} cm</p>
          </div>
          <p id="paragraphSearchProduct">Product height = {{ Product_Clothes.item_height }} cm</p>
          <div class="text-right">
            <p id="paragraphMyParameters" style="font-size:90%;">My height = {{ values.height }} cm</p>
          </div>
          <br>
          <div class="text-center">
            <p id="paragraphSearchProduct"><u>Pick this size: {{ Product_Clothes.item_size }} {{ width_percent_total }}</u></p>
          </div>
        </div>
        <div class="card-text" style="width: 100%;">
          <div class="d-flex">
            <a href="{{ Product_Clothes.item_url }}" target="_blank" id="OdkazanNaShop" onclick="affiliateTriggered" class="btn btn-block" style="align-items:center; border-radius: 10px;">View more</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-md-12 text-center">
      <h3>No clothes was found with this parameters</h3>
      <h4>Please try again with different values</h4>
    </div>
    {% endif %}
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      {% if paginationing.has_previous %}
      <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
    </li>
    <li class="page-item">
      {% if page_obj.previous_page_number != 1 %}
      <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
      {% endif %}
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
    </li>

    {% if paginationing.has_next %}
    <li class="page-item">
      {% if paginationing.next_page_number != paginator.num_pages %}
      <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
      {% endif %}
      {% endif %}
    </li>
  </ul>
</nav>
<br>
<br>
<br>
<hr>
<div hidden class="container py-3" id="quantity" style="text-align: center">
  <div class="row">
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for woman</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_woman_count }}</strong></button>
    </div>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for Men</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_men_count }}</strong></button>
    </div>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for Kids</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_kid_count }}</strong></button>
    </div>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Unisex clothes</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_uni_count }}</strong></button>
    </div>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
