{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Comfy-penguin helps you find fashion with right size. Just take your favorite sweatshirt, shirt or hoodie and copy parameters to our filter!">
  <meta name="keywords" content="amazon fashion, amazon fashion size, aliexpress fashion, fashion size, clothes size, sweatshirt size, shirt size, hoodies size, fashion measurement, clothes measurement">
  <meta name="author" content="Comfy-penguin.com">
  <meta name="fo-verify" content="9cd43a88-8fc9-4bbc-a4b2-b41e2161ae56">
  <link rel="icon" href="{% static 'Comfyfav.png' %}" sizes="32x32" type="image/png">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>2019 | Find comfy fashion that fits you!</title>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="{% url 'homepage' %}">
      <img src="{% static 'LogoComfyPenguin.png' %}" width="160" height="45" alt="Logo Comfy-penguin.com">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a hidden class="nav-item nav-link" href="{% url 'profile' %}">My comfy clothes</a>
        <a hidden class="nav-item nav-link" href="{% url 'profile' %}">My wishlist</a>
        <a hidden class="nav-item nav-link" href="{% url 'profile' %}">My profile</a>
        <a hidden class="nav-item nav-link" href="{% url 'searchpage' %}">Searchpage</a>
        <a hidden class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick="">Logout</a>
        <form id='logout' method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'interesting-facts' %}" style="color: black">Interesting facts</a>
        <a class="nav-item nav-link" href="{% url 'filter' %}" style="color: black">Search</a>
        <a hidden class="nav-item nav-link" href="{% url 'signup' %}">Sign up</a>
        <a hidden class="nav-item nav-link" href="{% url 'login' %}">Sign in</a>
        {% endif %}
      </div>
    </div>
  </nav>
</head>
{% block content %}
{% endblock %}

<div class="footer pt-4 my-md-5 pt-md-5" id="footer">
  <hr>
  <div class="container">
    <p>&copy; 2019 Comfy-penguin.com</p>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'comfy/js/myjavascript.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</html>
