{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<main role="main" style="text-align: center">
  <div class="container-fluid" style="background-image: url('static/lolhomepage.jpg'); position: relative; background-repeat: no-repeat; width:auto;; height:25rem; background-size: cover">
    <h1 class="display-6" style="color:white; padding-top: 3rem; text-align: center">Find comfy fashion on Amazon that fits</h1>
    <p class="lead" style="color:white; text-align: center">with size of favorite clothes</p>
    <br>
    <br>
    <a class="btn btn-light btn-lg" href="#how" role="button">Show me how</a>
  </div>
</main>

<br>
<br>
<div class="container">
  <h2 class="card-text" style="text-align: center">Find similar clothes</h2>
  <form action="{% url 'searchpage' %}">
    <div class="row align-items-center justify-content-md-center" style="padding-top: 1rem">
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="width" class="form-control" placeholder="Width/Chest (in cm)" value="{{ values.width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="height" class="form-control" placeholder="Height (in cm)" value="{{ values.height }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="form-group" style="align-items:center; text-align:center; width:15rem; margin:auto">
          <select name="Type" class="form-control">
            <option value="" selected>Select type</option>{% for key, value in CATEGORY_CHOICES.items %}
            <option value="{{ key }}" {% if key == values.Type %}selected{% endif %}>{{ value }}</option>{% endfor %}</select>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-group">
            <select name="Gender" class="form-control" style="align-items:center; text-align:center; width:15rem; margin:auto">
              <option value="" selected>Select gender</option>{% for key, value in GENDER_CHOICES.items %}
              <option value="{{ key }}"{% if key == values.Gender %}selected{% endif %}>{{ value }}</option>{% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Search</button>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<hr>

<div class="container py-3" id="how">
  <h2 class="card-text" style="text-align: center">How it works</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: auto; border: none">
        <div class="card-title text-center"><h4>Step one</h4></div>
        <img src="{% static 'pokus2.jpg' %}" class="card-img-top" id="my_image1" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg">

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-content">
              <img src="{% static 'pokus2.jpg' %}" id="my_image1" alt="Stara mikina" style="width: 900px; height: 900px">
            </div>
          </div>
        </div>


        <div class="card-body text-center">
          <p class="card-text">Use smartphone measure apps to get your sizes:</p>
        </div>
        <div class="card-body" style="text-align: center">
          <p><a href="https://play.google.com/store/apps/details?id=com.google.tango.measure&hl=cs" class="card-text text-center">Android</a></p>
          <p><a href="https://itunes.apple.com/us/app/measure/id1383426740?mt=8" class="card-text text-center">iOS</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: auto; border: none; align-items: center">
        <div class="card-title text-center"><h4>Step two</h4></div>
        <img src="{% static 'lolz-final1.png' %}" class="card-img-top" alt="..." >
        <div class="card-body text-center">
          <p class="card-text">Copy sizes to our filter and find similar clothes:</p>
        </div>
        <div class="card-body">
          <p class="card-text text-center">Width = 50 cm</p>
          <p class="card-text text-center">Height = 69 cm</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: auto; border: none; align-items: center">
        <div class="card-title text-center"><h4>Step three</h4></div>
        <img class="card-img-top" src="{% static 'pokus1.jpg' %}" id="myIMG" alt="..." data-toggle="modal" data-target=".bd-example-modal-lg">

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-content">
              <img src="{% static 'pokus1.jpg' %}" id="myIMG" alt="..." style="width: 900px; height: 900px">
            </div>
          </div>
        </div>


        <div class="card-body text-center">
          <p class="card-text">And this is what I've got with my parameters:</p>
        </div>
        <div class="card-body">
          <p class="card-text text-center">Width = 49 cm</p>
          <p class="card-text text-center">Height = 69 cm</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr>
<div class="container py-3" id="quantity" style="text-align: center">
  <h3 class="card-text" style="text-align: center">How many clothes did we process from Amazon?</h3>
  <br>
  {% for Product_Clothes in listing %}
  <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total }}</strong></button>
  {% endfor %}
</div>

<br>
<br>
<br>
<br>
{% endblock %}
