{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<link rel="canonical" href="https://www.comfy-penguin.com/" />
<meta name="description" content="Comfy-penguin helps you find fashion with right size. Just take your favorite sweatshirt, shirt or hoodie and copy parameters to our size search engine!">
<meta name="keywords" content="comfy penguin, comfy sweatshirt, comfy clothes, comfy hoodies, comfy sweater, most comfortable hoodie, comfy dresses, comfy cardigan, comfy t shirts, comfortable hoodies, comfortable t shirts, comfy shirts, comfy jeans, comfortable sweatshirts, size search engine">
<meta name="author" content="Comfy-penguin.com">
<title>2019 | Find fashion that fits with size search engine!</title>
<main role="main" style="text-align: center">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="container-fluid" style="background-image: url('static/lolhomepage.jpg'); position: relative; background-repeat: no-repeat; width:auto; height:45rem; background-size: cover"></div>
      <div class="carousel-item active">
        <div class="carousel-caption" style="padding-bottom: 12rem">
          <h1>Size search engine for clothes</h1>
          <p class="lead" style="color: white;">Find new fashion with size of your favorite clothes</p>
          <br>
          <a class="btn btn-lg" href="#how" role="button">Show me how</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</main>
<br>
<div class="container" id="searchfilter">
  <div class="row">
    <div class="col-md-6" style="text-align: center">
      <br>
      <h2>Search with size for Women's Tops</h2>
      <p>Find new women's T-shirts or sweatshirts similar to size of your favourite ones!</p>
      <a href="{% url 'filter_womens_tops' %}"><img src="{% static 'Womens-top.jpg'%}" alt="..." class="img-thumbnail" style="border-radius: 10px;"></a>
      <div class="button" style="padding-top:1rem">
        <a class="btn btn-dark" href="{% url 'filter_womens_tops' %}" style="align-items:center; text-align:center; width:15rem; margin:auto;">Search in women's tops</a>
      </div>
    </div>
    <div class="col-md-6" style="text-align: center">
      <br>
      <h2>Search with size for Men's Tops</h2>
      <p>Find new men's Shirts or hoodies similar to size of your favourite ones!</p>
      <a href="{% url 'filter_mens_tops' %}"><img src="{% static 'Mens-top.jpg'%}" alt="..." class="img-thumbnail" style="border-radius: 10px;"></a>
      <div class="button" style="padding-top:1rem">
        <a class="btn btn-dark" href="{% url 'filter_mens_tops' %}" style="align-items:center; text-align:center; width:15rem; margin:auto;">Search in men's tops</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr width="75%">

<div class="container py-3" id="how">
  <h2 class="card-text" style="text-align: center">With Comfy-penguin you don't care about size chart anymore</h2>
  <br>
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <h2><span class="text-muted">Step One. Get measurements of your favourite clothing!</span></h2>
      <br>
      <p>Choose your favourite, most comfy clothing you want to buy and get parameters (for example width and length). You can use smartphone measure apps to get your sizes, but I recommend to measure it with measuring tape or meter.</p>
      <div style="text-align: center; padding-top: 4rem">
        <p style="font-size:160%; padding-bottom:1rem"><a href="https://play.google.com/store/apps/details?id=com.google.tango.measure&hl=cs" class="appDownloads">Android</a></p>
        <p style="font-size:160%;"><a href="https://itunes.apple.com/us/app/measure/id1383426740?mt=8" class="appDownloads">iOS</a></p>
      </div>
    </div>
    <div class="col-md-5">
      <img src="{% static 'pokus2.jpg' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
    </div>
  </div>
  <br>
  <hr class="featurette-divider py-2">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2><span class="text-muted">Step Two. Copy your measurements and search!</span></h2>
      <br>
      <p>Copy sizes to our filter and start searching with hundreds of products from popular fashion stores and brands.</p>
      <p>I found pretty nice jumper on left. I wanted longer height so more than 67cm is fine for me:</p>
      <div class="míry" style="padding-top: 2rem">
        <p class="card-text text-center" style="font-size:120%;">Jumper parameters:</p>
        <p class="card-text text-center" style="font-size:120%;">Width = 49 cm</p>
        <p class="card-text text-center" style="font-size:120%;">Length = 69 cm</p>
      </div>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'lolz-final1.png' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
    </div>
  </div>

  <hr class="featurette-divider py-2">

  <div class="row featurette">
    <div class="col-md-7">
      <h2><span class="text-muted">Step Three. Checkmate.</span></h2>
      <br>
      <p>After few days I get my ordered jumper. At first I needed to wear it for a little, because it need t stretch, but after a while parameters are exactly as I ordered by!</p>
    </div>
    <div class="col-md-5">
      <img src="{% static 'pokus1.jpg' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
    </div>
  </div>
  <div class="tlačítko" style="text-align: center; padding-top: 3rem;">
    <a class="btn btn-dark btn-lg" href="#searchfilter" style="width: 13rem">Start searching</a>
  </div>
</div>
<br>
<br>
<hr width="75%">
<div class="album py-5">
  <div class="container" style="text-align: center">
    <div class="row align-items-center justify-content-md-center">
      <div class="col-md-auto">
        <div class="card mb-4 shadow-sm" style="max-width: 30rem; max-height: 50rem">
          <a class="BlogImage" href="{% url 'clanek2' %}">
            <img class="card-img-top" src="{% static 'blog2pic1.jpg' %}" alt="guy with hoodie siting on bridge" width="auto" height="400">
            <div class="card-body">
              <p class="card-text">How size chart might not work and how correctly buy hoodies online</p>
              <br>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <a href="{% url 'clanek2' %}">
                    <button type="button" class="btn btn-lg btn-outline-secondary">Read more</button>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card mb-4 shadow-sm" style="max-width: 30rem; max-height: 50rem">
          <a class="BlogImage" href="{% url 'clanek1' %}">
            <img class="card-img-top" src="{% static 'blog1picmain.jpg' %}" alt="sad woman is about to cry" width="auto" height="400">
            <div class="card-body">
              <p class="card-text">Why size chart does not work and what are our options?</p>
              <br>
              <div class="d-flex justify-content-center">
                <div class="btn-group">
                  <a href="{% url 'clanek1' %}">
                    <button type="button" class="btn btn-lg btn-outline-secondary">Read more</button>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<hr width="75%">
<div class="container py-3" id="quantity" style="text-align: center">
  <h2 class="card-text" style="text-align: center">How many clothes did we process so far?</h2>
  <p>We search the biggest shopping portals and specifically hand-pick clothes that are best and most popular</p>
  <br>
  <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total }}</strong></button>
</div>
<br>
<div hidden class="container py-3" id="quantity" style="text-align: center">
  <div class="row">
    <br>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for woman</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_woman_count }}</strong></button>
    </div>
    <br>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for Men</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_men_count }}</strong></button>
    </div>
    <br>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Clothes for Kids</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_kid_count }}</strong></button>
    </div>
    <br>
    <div class="col-sm">
      <h4 class="card-text" style="text-align: center">Unisex type clothes</h4>
      <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total_uni_count }}</strong></button>
    </div>
    <br>
  </div>
</div>
<br>
<br>
<hr width="75%">
<div class="container py-3" style="text-align: center">
  <h2 class="card-text" style="text-align: center">Brands we cooperate with</h2>
  <p>We are cooperating with biggest brands and new ones are comming!</p>
  <br>
  <div class="row" style="text-align: center">
    <div class="col">
      <a href="http://s.click.aliexpress.com/e/c38ffr3w">
        <img id="brandlogo" src="{% static 'Alilogo.jpg' %}" alt="Aliexpress logo" class="img-thumbnail" style="border: none; width: 10rem">
      </a>
    </div>
    <div class="col">
      <a href="https://amzn.to/2MtbEF9">
        <img id="brandlogo" src="{% static 'Amalogo.jpg' %}" alt="Amazon logo" class="img-thumbnail" style="border: none; width: 10rem">
      </a>
    </div>
    <div class="col">
      <a href="http://linksynergy.walmart.com/deeplink?id=R0pd2vWeyDs&mid=2149&murl=https%3A%2F%2Fwww.walmart.com%2F">
        <img id="brandlogo" src="{% static 'Walmart_logo.png' %}" alt="Walmart logo" class="img-thumbnail" style="border: none; width: 10rem">
      </a>
    </div>
    <div class="col">
      <a href="https://www.etsy.com/">
        <img id="brandlogo" src="{% static 'Etsy-logo-v2.png' %}" alt="Etsy logo" class="img-thumbnail" style="border: none; width: 10rem">
      </a>
    </div>
  </div>
</div>
<div class="tlačítko" style="text-align: center; padding-top: 3rem;">
  <a class="btn btn-dark btn-lg" href="#searchfilter" style="width: 13rem">Find new clothes</a>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
