{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<link rel="canonical" href="https://www.comfy-penguin.com/" />
<main role="main" style="text-align: center">
  <div class="container-fluid" style="background-image: url('static/lolhomepage.jpg'); position: relative; background-repeat: no-repeat; width:auto;; height:45rem; background-size: cover">
    <h1 class="display-6" style="color:white; padding-top: 12rem; text-align: center">Find new fashion with size</h1>
    <h1 class="display-6" style="color:white; text-align: center">of your favorite clothes</h1>
    <br>
    <br>
    <a class="btn btn-dark btn-lg" href="#how" role="button" id="filter">Show me how</a>
  </div>
</main>

<br>
<br>
<div class="container">
  <h2 class="card-text" style="text-align: center">Find similar clothes</h2>
  <form action="{% url 'searchpage' %}">
    <div class="row align-items-center justify-content-md-center" style="padding-top: 1rem">
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="width" class="form-control" placeholder="Width/Chest (in cm)" value="{{ values.width }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="form-group">
          <input type="number" name="height" class="form-control" placeholder="Height (in cm)" value="{{ values.height }}" style="align-items:center; text-align:center; width:15rem; margin:auto" required>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="form-group" style="align-items:center; text-align:center; width:15rem; margin:auto">
          <select name="Type" class="form-control">
            <option value="" selected>Select type</option>{% for key, value in CATEGORY_CHOICES.items %}
            <option value="{{ key }}" {% if key == values.Type %}selected{% endif %}>{{ value }}</option>{% endfor %}</select>
          </div>
        </div>
        <div class="col-md-auto">
          <div class="form-group">
            <select name="Gender" class="form-control" style="align-items:center; text-align:center; width:15rem; margin:auto">
              <option value="" selected>Select gender</option>{% for key, value in GENDER_CHOICES.items %}
              <option value="{{ key }}"{% if key == values.Gender %}selected{% endif %}>{{ value }}</option>{% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-dark" style="align-items:center; text-align:center; width:15rem; margin:auto">Search</button>
      </div>
    </div>
  </form>
</div>
<br>
<br>
<hr width="75%">

<div class="container py-3" id="how">
  <h2 class="card-text" style="text-align: center">How it works</h2>
  <br>
  <br>
  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Step One. <span class="text-muted">Get measurements of favorite clothing!</span></h2>
        <p>Choose your favorite, most comfy clothing you want to buy and get parameters to find new one. You can use smartphone measure apps to get your sizes.</p>
        <div class="odkazy" style="text-align: center; padding-top: 4rem">
          <p style="font-size:160%; padding-bottom:1rem"><a href="https://play.google.com/store/apps/details?id=com.google.tango.measure&hl=cs" class="card-text text-center">Android</a></p>
          <p style="font-size:160%;"><a href="https://itunes.apple.com/us/app/measure/id1383426740?mt=8" class="card-text text-center">iOS</a></p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'pokus2.jpg' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Step Two. <span class="text-muted">Copy your measurements and search!</span></h2>
        <p>Copy sizes to our filter and start searching with hundreds of products from popular fashion stores and brands.</p>
        <p>I found pretty nice jumper on left. I wanted longer height so more than 67cm is fine for me:</p>
        <div class="míry" style="padding-top: 2rem">
          <p class="card-text text-center" style="font-size:120%;">Jumper parameters:</p>
          <p class="card-text text-center" style="font-size:120%;">Width = 49 cm</p>
          <p class="card-text text-center" style="font-size:120%;">Height = 69 cm</p>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'lolz-final1.png' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Step Three. <span class="text-muted">Checkmate.</span></h2>
        <p>After few days I get my ordered jumper. At first I needed to wear it for a little, because it need t stretch, but after a while parameters are exactly as I ordered by!</p>
        <div class="tlačítko" style="text-align: center; padding-top: 3rem;">
          <a class="btn btn-dark" href="{% url 'filter' %}" style="width: 13rem">Start searching</a>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static 'pokus1.jpg' %}" class="card-img-top" id="my_image1" alt="Old hoodie width" data-toggle="modal" data-target=".bd-example-modal-lg">
      </div>
    </div>



</div>
<br>
<br>
<hr width="75%">
<div class="container py-3" id="quantity" style="text-align: center">
  <h2 class="card-text" style="text-align: center">How many clothes did we process?</h2>
  <br>
  {% for Product_Clothes in listing %}
  <button class="btn btn-dark" style="width: 6rem"><strong>{{ my_total }}</strong></button>
  {% endfor %}
</div>
<br>
<br>
<hr width="75%">
<div class="container py-3" style="text-align: center">
  <h2 class="card-text" style="text-align: center">Brands</h2>
  <p>We are cooperating with biggest brands and new ones are comming!</p>
  <br>
  <div class="row" style="text-align: center">
    <div class="col">
      <img id="brandlogo" src="{% static 'Alilogo.jpg' %}" alt="Aliexpress logo" class="img-thumbnail" style="border: none; width: 10rem">
    </div>
    <div class="col">
      <img id="brandlogo" src="{% static 'Amalogo.jpg' %}" alt="Amazon logo" class="img-thumbnail" style="border: none; width: 10rem">
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}
