{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<title>2019 | How to measure sweatshirt | Comfy-penguin</title>
<link rel="canonical" href="https://www.comfy-penguin.com/how-to-measure-sweatshirt" />
<meta name="description" content="Have you ever wondered how to measure sweatshirt correctly? I wrote down a few instructions on how it is done and how you can use parameters.">
<meta name="keywords" content="how to measure, sweatshirt, how to measure sweatshirt, sweatshirts">
<meta name="author" content="Comfy-penguin.com">
<br>
<br>
<div class="container" style="text-align: center">
  <h1>How to measure sweatshirt</h1>
  <div class="d-flex justify-content-center">
    <p>Sweatshirts tend to be such type of fabric which need ample care as far as measurement and sizing is concerned. In the same way, followings are a few tips and methods which could be ideally helpful.</p>
  </div>
  <div class="d-flex justify-content-center">
    <img src="{% static 'clothesComplete/sweatshirt-completeJPG.jpg' %}" style="max-height: 30rem" alt="">
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>A = Length / Front Length</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>Simply place the measuring tape at the middle of jumper and start measuring it from back side of collar seam to all the way down to desired hemline.</p>
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>B = Width / Chest / Waist</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>For chest, try to measure around the fullest part by keeping the tape closer to aspired hemline of the body.</p>
  </div>
<br>
<br>
<br>
{% endblock %}
