{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<title>2019 | Find comfy fashion that fits you!</title>
<link rel="canonical" href="https://www.comfy-penguin.com/how-to-measure" />
<br>
<br>
<h1>How to measure shirt size</h1>
<div class="row bg-light">
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <img src="{% static 'HowToMeasureShirt.png' %}" alt="">
  </div>
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <p>takto se měří tričko</p>
  </div>
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <img src="{% static 'HowToMeasureShirt.png' %}" alt="">
  </div>
</div>
<hr>
<h1>How to measure sweathirt</h1>
<div class="row bg-light">
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <img src="{% static 'HowToMeasureShirt.png' %}" alt="">
  </div>
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <p>takto se měří tričko</p>
  </div>
  <div class="col-md-4" style="text-align: center; padding-top: 2rem; padding-bottom: 2rem">
    <img src="{% static 'HowToMeasureShirt.png' %}" alt="">
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
