{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<title>2019 | How to measure jumper| Comfy-penguin</title>
<meta name="description" content="Have you ever wondered how to measure jumper correctly? I wrote down a few instructions on how it is done and how you can use parameters.">
<meta name="keywords" content="how to measure, jumper, how to measure jumper, jumpers">
<meta name="author" content="Comfy-penguin.com">
<link rel="canonical" href="https://www.comfy-penguin.com/how-to-measure-sweatshirt" />
<br>
<br>
<div class="container" style="text-align: center">
  <h1>How to measure jumper</h1>
  <div class="d-flex justify-content-center">
    <p>For ascertaining an exact size and fit of your jumper, there will be need to measure only a few precise points of such jumper or sweater that you already do have. Then, you could compare the measurements with your own size chart to be on the ideal size. For flawless measurements, simply put the fabric on a table or smooth surface and then follow these steps.</p>
  </div>
  <div class="d-flex justify-content-center">
    <img src="{% static 'clothesComplete/jumper-completeJPG.jpg' %}" style="max-height: 30rem" alt="">
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>A = Length / Front Length</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>Simply place the measuring tape at the middle of jumper and start measuring it from back side of collar seam to all the way down to desired hemline.</p>
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>B = Width / Chest / Waist</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>For this, you will need to position the meter in a horizontal position right down below the seam of your underarm.</p>
  </div>
<br>
<br>
<br>
{% endblock %}
