{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<title>2019 | How to measure hoodie | Comfy-penguin</title>
<meta name="description" content="Have you ever wondered how to measure hoodie correctly? I wrote down a few instructions on how it is done and how you can use parameters.">
<meta name="keywords" content="how to measure, hoodie, how to measure hoodie, hoodies">
<meta name="author" content="Comfy-penguin.com">
<link rel="canonical" href="https://www.comfy-penguin.com/how-to-measure-sweatshirt" />
<br>
<br>
<div class="container" style="text-align: center">
  <h1>How to measure hoodie</h1>
  <div class="d-flex justify-content-center">
    <p>Opting for a poorly sized hoodie could make it look bizarre on your body, it’s as simple as that. So what you need to do while measuring is to use a cloth tape measure for seeking most accurate reading. Make it certain that when you are circling, the level of your circles, waist or hips with direction to tape is neither too twisted nor too tight or loose. There is no need to take the measurement over your clothes as the bare skin tends to offer a comprehensive measurement.</p>
  </div>
  <div class="d-flex justify-content-center">
    <img src="{% static 'clothesComplete/hoodie-completeJPG.jpg' %}" style="max-height: 30rem" alt="">
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>A = Length / Front Length</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>Simply place the measuring tape at the middle of jumper and start measuring it from back side of collar seam to all the way down to desired hemline.</p>
  </div>
  <hr>
  <div class="d-flex justify-content-center">
    <h3>B = Width / Chest / Waist</h3>
  </div>
  <div class="d-flex justify-content-center">
    <p>Do measure entire of circumference of your chest by placing one end of the tape and sizing fullest part of the waist. In this way, tape should be adjacent to your armpits and you should be sitting on your shoulder blades for a good measurement.</p>
  </div>
<br>
<br>
<br>
{% endblock %}
