{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}
{% block content %}
<title>2019 | How to measure correctly | Comfy-penguin</title>
<link rel="canonical" href="https://www.comfy-penguin.com/how-to-measure" />
<meta name="description" content="Have you ever wondered how to measure your clothes correctly? I wrote down a few instructions on how it is done and how you can use parameters.">
<meta name="keywords" content="how to measure, how to measure fashion, how to measure clothes, how to measure dress">
<meta name="author" content="Comfy-penguin.com">
<br>
<br>
<div class="container" style="text-align: center">
  <h1>How to measure your fashion correctly</h1>
  <p>Choose type of fashion to load up our instructions on how to measure it correctly and use these parameters for our size search engine.</p>
</div>
<div class="container" style="text-align: center">
  <div class="row" style="text-align: center">
    <div class="col d-flex justify-content-center py-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'clothes/sweatshirt.png' %}" alt="Main product image" style="height: 20rem;">
        <a class="btn btn-dark btn-lg" href="{% url 'how_to_measure_sweatshirt' %}" role="button" style="font-size:90%;">How to measure sweatshirt?</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center py-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'clothes/jumper.png' %}" style="max-height: 20rem" alt="">
        <a class="btn btn-dark btn-lg" href="{% url 'how_to_measure_jumper' %}" role="button" style="font-size:90%;">How to measure jumper?</a>
      </div>
    </div>
    <div class="col d-flex justify-content-center py-3">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'clothes/hoodie.png' %}" style="max-height: 20rem" alt="">
        <a class="btn btn-dark btn-lg" href="{% url 'how_to_measure_hoodie' %}" role="button" style="font-size:90%;">How to measure hoodie?</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
